$theme-color: #232f3e;
$fa-font-path: "~font-awesome/fonts";
// $primary: $turquoise

// General
$body-background-color: $theme-color; 

// Footer
$footer-background-color: $theme-color;
$footer-color: white;

// Navbar
// $navbar-background-color: $theme-color;
$navbar-item-color: white;
// $navbar-item-hover-background-color: #3c5068;
$navbar-item-hover-color: white;