.product-title {
  margin-bottom: 0rem !important;
  line-height: 1.5;
  text-decoration: underline;

  @media only screen and (min-width: 500px) {
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.product-card {
  border-radius: 10px;

  .offerPrice {
    text-decoration: line-through;
  }

  .media-content {
    overflow-x: inherit;
  }

  hr {
    margin: .5rem 0;;
  }

  &:hover {
    transform: scale(1.05);
    transition: all .4s ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
}