.product-title {
  margin-bottom: 0rem !important;
  line-height: 1.5;
  text-align: center;

  @media only screen and (min-width: 500px) {
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.product-card {
  border-radius: 10px;
  box-shadow: none;

  .product-figure {
    overflow: hidden;

    img {
      height: auto !important;
      width: 75%;
      margin: 0 auto;
    }
  }

  .offerPrice {
    text-decoration: line-through;
  }

  .media-content {
    overflow-x: inherit;
  }

  hr {
    margin: .5rem 0;;
  }

  &:hover {
    // border: 1px solid #cecece;
    transform: scale(1.03);
    transition: all .1s ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
}